* {
    font-family: cursive;
    text-align: center;
    font-size: 14pt;
    box-sizing: border-box;
}

#puzzlearea {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    position: relative;
}

.showingpiece {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(background.jpg);
    font-size: 40pt;
    line-height: 100px;
}

.showingpiece:hover {
    border: 5px solid red;
    color: red;
}